<!DOCTYPE html>
<html>
  <head>
	<meta charsets="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1> LAB 4 :) </h1>
    <nav>
	  <ul>
	    <li><a href="/">Home</a></li>
	    <li><a href="/users">User List</a></li>
	  </ul>
	</nav>